/* CSS declarations go here */
#header{
	margin-bottom:30px;
}
.navbar .brand{
  font-size: 30px;
  font-family: 'Lobster';
  color: white;
}
.navbar a{
  color:white;
}
#tags, #tag, #icon-film, #icon-eye-open, #icon-eye-close {
  margin-top:4px;
}
#content{
	margin-top:80px;
}
.footer{
	margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
#genres{
	margin-bottom:50px;
}
.genre{
	margin-right:5px;
	margin-bottom:5px;
}
.keyword{
	margin-right:5px;
	margin-bottom:5px;
}
#watch_list{
	margin-bottom:50px;
}