/* CSS declarations go here */
body{
	background-image: url('background.png');
}
#header{
	margin-bottom:30px;
}
#brand-icon{
	margin-top: -5px;
	width:40px;
}

li, h4{
 font-family:'Muli', sans-serif; 
}
.navbar .brand{
  font-size: 30px;
  font-family: 'Lobster';
  color: white;
}
.navbar a{
  color:white;
}
#tags, #tag, #icon-film, #icon-eye-open, #icon-eye-close {
  margin-top:3px;
}
.img-circle{
	margin-bottom:8px;
	margin-right:8px;
}
#content{
	margin-top:80px;
}
.footer{
	margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
#genres{
	margin-bottom:50px;
}
.genre{
	margin-right:5px;
	margin-bottom:5px;
}
.keyword{
	margin-right:5px;
	margin-bottom:5px;
}
#watch_list{
	margin-bottom:50px;
}
