/* CSS declarations go here */
#header{
	margin-bottom:30px;
	margin-top:20px;
}
.footer{
	margin-top:100px;
}
#genres{
	margin-bottom:50px;
}
.genre{
	margin-right:5px;
	margin-bottom:5px;
}
.keyword{
	margin-right:5px;
	margin-bottom:5px;
}
#watch_list{
	margin-bottom:50px;
}

.selected{
	color:red;
}

